
<div>
    <h4 class="font-weight-bold">
        Cadastro de Questões
    </h4>
</div>

<br />

<div class="row">
    <div class="col-12">
        <button class="btn-sm btn-success float-right" data-toggle="modal" data-target="#criarNovaQuestao">Criar nova questão</button>
    </div>
</div>

<br />

<div id="accordion">
    <div class="card">
        <a style="cursor: pointer" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    Questão 1
                </h5>
            </div>
        </a>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">

            <div class="form-group row">
                <label for="inputTitulo" class="col-1 col-form-label">Enunciado:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <div class="input-group col-12">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio">
                        </div>
                    </div>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <div class="input-group col-12">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio">
                        </div>
                    </div>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <div class="input-group col-12">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio">
                        </div>
                    </div>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <div class="input-group col-12">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio">
                        </div>
                    </div>
                    <input type="text" class="form-control">
                </div>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-danger">Excluir</button>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Questão 2
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">

                    <div class="form-group row">
                        <label for="inputTitulo" class="col-1 col-form-label">Enunciado:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="input-group col-12">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="radio">
                                </div>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="input-group col-12">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="radio">
                                </div>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="input-group col-12">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="radio">
                                </div>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="input-group col-12">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="radio">
                                </div>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Questão 3
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>


<!-- Modal criação de nova questão -->
<div class="modal fade" id="criarNovaQuestao" tabindex="-1" role="dialog" aria-labelledby="criarNovaQuestaoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Criar nova questão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="inputTitulo" class="col-sm-2 col-form-label">Enunciado:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputDisciplina" class="col-sm-2 col-form-label"></label>
                    <div class="col-6">
                        <div class="radio">
                            <label><input type="radio" name="optradio">  Múltipla Escolha</label>

                            <label><input type="radio" name="optradio">  Verdadeiro ou Falso</label>
                        </div>
                    </div>
                </div>

                @*Questões*@

                <div class="form-group row">
                    <div class="input-group col-12">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio">
                            </div>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="input-group col-12">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio">
                            </div>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="input-group col-12">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio">
                            </div>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="input-group col-12">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio">
                            </div>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="input-group col-12">
                        <span> * Marque apenas a(s) opção(ões) verdadeira(s) </span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="input-group col-12 text-right">

                        <span class="float-right text-primary"><u> Adicionar mais questões</u></span>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="btnSalvarNovaAvaliacao">Salvar</button>
            </div>
        </div>
    </div>
</div>


